body {
  font-family: "Poppins", sans-serif;
  font-family: "Ubuntu", sans-serif;
  font-family: "Varela Round", sans-serif;
  margin: 0;
}

h1 {
  font-size: 50px;
}

p {
  margin-bottom: 30px;
}
.name_high {
  color: orange;
}
.half-width {
  width: 40%;
  float: left;
  margin-left: 50px;
  padding-left: 20px;
  margin-bottom: 100px;
}

.half-width img {
  width: 100%;
}
section {
  height: 400px;
  padding-bottom: 100px;
}
.top {
  background-image: url("images/top-banner.png");

  background-repeat: no-repeat;
}

.h-button {
  text-decoration: none;
  background-image: linear-gradient(45deg, orange, tomato);
  padding: 15px 30px;
  border-radius: 5px;
  color: white;
  font-weight: 600;
}

.second {
  background-image: url("images/dream-bg.png");
  height: 500px;
  background-repeat: no-repeat;
  background-position: right;
}
